

.header {
background-image: url(../image/Vector_Smart_Object@1X.png);
display: flex;
justify-content: space-between;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.logo_link {
    color: #ffffff;
}

.navigation {
    width: 939px;
}

.n_list {
display: flex;
justify-content: flex-end;
justify-content: space-around;
}

.n_item {
    font-family: 'Montserrat', sans-serif;
}

.n_link {
    color: #ffffff;
}