

.h_wrapper {
    background-image: url(../image/Vector_Smart_Object@1X.png);
}

.n_wrapp {
    
}


.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.logo_link {
    color: #ffffff;
}

.navigation {
    width: 939px;
}

.n_list {
display: flex;
justify-content: flex-end;
justify-content: space-around;
}

.n_item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff; 
}


.find_partner {
    text-align: center;
}

.h_title {
    color: #ffffff; 
}

.h_subtitle {
    color: #ffffff;
    font-size: 24px;
    
}

.find_link {
    color: #ffffff;
}